* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'volkhov';
    src: url(../fonts/Volkhov-Regular.ttf);
}

body {
    font-family: 'poppins';
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/*HEADER*/
.header {
    background-image: url(../images/header_background.png);
    background-repeat: no-repeat;
    background-size: 45% 85%;
    background-position: top right;
}

.navbar {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.burger_menu {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: #212832;
}

.navbar_list select {
    cursor: pointer;
}

.navbar li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

.navbar_list a:hover {
    border-bottom: 3px solid #DF6951;
}

.navbar select {
    border: none;
    background-color: #FFF1DA;
    font-size: 16px;
    color: #212832;
}

/*SECTION 1*/

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.section1_left {}

.p1_section1 {
    font-size: 20px;
    color: #DF6951;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 30px;
}

.h1_section1 {
    font-size: 84px;
    color: #181E4B;
    font-family: 'volkhov';
    margin-bottom: 30px;
    line-height: 89px;
    letter-spacing: -2px;
}

.p2_section1 {
    color: #5E6282;
    margin-bottom: 30px;
}

.section1_left span {
    background-image: url(../images/section1_enjoy_decore.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.section1_buttons {
    width: 400px;
    display: flex;
    align-items: center;
}

.section1_buttons button {
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #FFFFFF;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    margin-right: 50px;
    cursor: pointer;
}
.section1_buttons a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #686D77;
    
}
.section1_buttons  span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #DF6951;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section1_buttons  span::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #DF6951;
    left: 0;
    top: 0;
    z-index: -1;
    animation-name: play;
    animation-duration: .9s;
    animation-iteration-count: infinite;
}

@keyframes play{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

.section1_buttons p {
    font-size: 17px;
    color: #686D77;
}

.section1_right {}

.section1_right img {
    width: 650px;
}




/*SECTION2 SERVICES */

.section2_services {
    background-image: url(../images/section2_services_decoration.png);
    background-repeat: no-repeat;
    background-position: top right;
    text-align: center;
    margin-bottom: 120px;
}

.p_section2 {
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
}

.h1_section2 {
    font-size: 50px;
    color: #14183E;
    font-family: 'volkhov';
    margin-bottom: 120px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 20%;
    height: 300px;
    background: #FFFFFF;
    border-radius: 36px;
    padding: 30px 40px;
    position: relative;
    transition: .3s;
}

.card:hover {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.card:hover::after {
    opacity: 1;
}

.card::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #DF6951;
    border-radius: 30px 0px 10px;
    bottom: -30px;
    left: -40px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.card h6 {
    font-size: 20px;
    font-weight: 600;
    color: #1E1D4C;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #5E6282;
}

.card img {
    margin-bottom: 30px;
}


/*SECTION 3 DESTINATIONS*/

.section3_destinations {
    text-align: center;
    margin-bottom: 120px;
    position: relative;
}

.p_section3 {
    color: #5E6282;
    font-size: 18px;
    font-weight: 600;
}

.h1_section3 {
    color: #14183E;
    font-size: 50px;
    font-family: 'volkhov';
    margin-bottom: 60px;
}

.img_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_card {
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    width: 350px;
    background: #FFFFFF;
    border-radius: 24px;
    overflow: hidden;
    padding-bottom: 10px;
}

.img_card img {
    width: 100%;
}

.section3_decoration {
    position: absolute;
    right: -60px;
    top: 300px;
}

.price {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.price p {
    font-size: 18px;
    color: #5E6282;
}

.trips {
    display: flex;
    background-image: url(../images/section3_trip.svg);
    background-repeat: no-repeat;
    background-position: 7% 50%;

}

.trips p {
    font-size: 16px;
    color: #5E6282;
    padding: 0 50px;
}



/*SECTION 4 STEPS*/

.section4_steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.p_section4 {
    font-weight: 600;
    color: #5E6282;
    font-size: 18px;
}

.h1_section4 {
    font-family: 'volkhov';
    font-weight: bold;
    font-size: 50px;
    color: #14183E;
    line-height: 64px;
    margin-bottom: 30px;
}

.section4_left {
    width: 500px;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.step img {
    margin-right: 20px;
}

.step h6 {
    font-weight: bold;
    font-size: 16px;
    color: #5E6282;
    margin-bottom: 5px;
}

.step p {
    color: #5E6282;
}

.section4_right {
    position: relative;
}

.section4_decor {
    position: absolute;
    width: 100%;
    top: -120px;
    right: -120px;
    z-index: -1;
}

.section4_right_card {
    background-color: #ffffff;
    width: 350px;
    padding: 10px 15px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;

}

.step_card_img {
    text-align: center;
    margin-bottom: 15px;
}

.step_card_img img {
    width: 100%;
}

.section4_right_card h5 {
    font-size: 18px;
    color: #080809;
}

.section4_right_card p {
    color: #84829A;
    margin-bottom: 15px;
}

.section4_card_btns {
    margin-bottom: 15px;
}

.building {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*SECTION 5 ABOUT US*/

.section5_about_us {
    margin-bottom: 180px;
}

.section5_display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section5_about_us_left {
    width: 45%;
}

.p_section5 {
    font-size: 18px;
    color: #5E6282;
    font-weight: 600;
}

.h1_section5 {
    font-size: 50px;
    color: #14183E;
    font-family: 'volkhov';
    margin-bottom: 60px;
}

.section5_left_btn {
    display: flex;
}

.section5_left_btn button {
    margin-right: 15px;
    background-color: #E5E5E5;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
}

.section5_about_us_right {
    width: 45%;
    position: relative;
}

.section5_right_card {
    width: 80%;
    border-radius: 10px;
    padding: 15px 30px;
    position: relative;
}

.card1 {
    top: -80px;
    left: 0;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.card2 {
    z-index: -1;
    top: -20px;
    left: 45px;
    position: absolute;
    border: 2px solid #F7F7F7;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.section5_right_card::before {
    content: "";
    border-radius: 50%;
    background-image: url(../images/section5_aboutus_after.png);
    width: 68px;
    height: 68px;
    top: -35px;
    left: -35px;
    position: absolute;
}

.section5_right_card p {
    color: #5E6282;
    margin-bottom: 30px;
}

.section5_right_card h5 {
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
}

.section5_right_card h6 {
    font-size: 14px;
    font-weight: 500;
    color: #5E6282;
}



/*SECTION 6 COMPANIES*/

.section6_companies {
    margin-bottom: 120px;
}

.companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company_img {
    filter: grayscale(1);
    transition: .2s;
    padding: 5px 10px;
}

.company_img:hover {
    filter: grayscale(0);
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}



/*SECTION 7 SUBMIT*/

.section7_subscribe {
    padding-bottom: 120px;
    background-image: url(../images/section7_back.png);
    background-position: 95% 80%;
    background-repeat: no-repeat;
}

.subscribe {
    background: #F9F7FE;
    border-radius: 129px 20px 20px 20px;
    position: relative;
    text-align: center;
    padding-bottom: 60px;
}

.left_img {
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
}

.right_img {
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
}

.subscribe p {
    padding-top: 60px;
    margin-bottom: 60px;
    font-size: 33px;
    color: #5E6282;
    font-weight: 600;
    line-height: 54px;
}

.subscribe_form input {
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 15px 35px;
    position: relative;
}

.subscribe_form img {
    position: absolute;
    top: 72.5%;
    left: 36%;
    z-index: 1;
}

.subscribe_form button {
    color: #FFFFFF;
    padding: 15px 25px;
    border: none;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
}

.subscribe::before {
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 1;
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url(../images/section7_send.svg);
    background-repeat: no-repeat;
    background-position: 65% 40%;
    background-color: #5E3BE1;
}



/*SECTION 8 FOOTER*/
.section8_footer {
    margin-bottom: 60px;
}

.footer_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jadoo_footer h1 {
    font-size: 44px;
    color: #181E4B;
}

.jadoo_footer p {
    font-size: 13px;
    color: #5E6282;
}

.links {
    width: 25%;
}

.links ul {
    list-style: none;
}

.links h4 {
    font-size: 21px;
    color: #080809;
    margin-bottom: 15px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #5E6282;
}

.links a:hover {
    border-bottom: 3px solid #DF6951;
}

.social_networks p {
    font-size: 20px;
    color: #5E6282;
    margin-bottom: 15px;
}

.social_networks img {
    margin-right: 10px;
}




/*RESPONSIVE SECTION*/

@media (max-width:992px){
    .container {
        width: 90%;
        margin: 0 auto;
    }
    
    /*HEADER*/
    
    .navbar {
        margin-bottom: 35px;
    }
    
    
    .navbar li {
        margin-right: 30px;
    }
    
    .navbar_list a:hover {
        border-bottom: 3px solid #DF6951;
    }
       
    /*SECTION 1*/
    
    
    .h1_section1 {
        font-size: 70px;
        line-height: 80px;
    }
    
    .section1_buttons p {
        font-size: 17px;
        color: #686D77;
    }
    
    .section1_right {
    }
    
    .section1_right img {
        width: 450px;
    }
    
    
    
    /*SECTION2 SERVICES */
    .section2_services {
        margin-bottom: 60px;
    }
    
    
    .h1_section2 {
        font-size: 45px;
    }
    
    .cards {
        align-items: center;
        flex-wrap: wrap;
    }
    
    .card {
        width: 40%;
        margin-bottom: 50px;
    }  
    
    
    /*SECTION 3 DESTINATIONS*/
    
    .h1_section3 {
        font-size: 45px;
    }
    
    .img_card {
        width: 30%;
    }
    
    .section3_decoration {
        position: absolute;
        right: -40px;
        top: 250px;
    }
    /*SECTION 4 STEPS*/
    
    
    .h1_section4 {
        font-size: 45px;
    }
    
    .step img {
        margin-right: 20px;
    }
    
    .section4_decor {
        display: none;
    }
      
    /*SECTION 5 ABOUT US*/
    

    
    .h1_section5 {
        font-size: 45px;
    }

    .card2 {
        top: -20px;
        left: 40px;   
    }   
    
    /*SECTION 6 COMPANIES*/
    
    .section6_companies {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 120px;    
    }
    
    
    /*SECTION 7 SUBMIT*/
    
    
    
    /*SECTION 8 FOOTER*/
    
    .jadoo_footer h1 {
        font-size: 40px;
    }
    
    .links {
        width: 23%;
    }
    
    .links h4 {
        font-size: 20px;
    }
    
    .links a {
    font-size: 16px;
    }
}
@media(max-width:768px) {

    .container {
        width:90%;
        margin: 0 auto;
    }

    .header {
        background-size: 60% 50%;   
    }

    .navbar ul {
        display: none;
    }

    .burger_menu {
        display: block;
    }

    .burger_menu img {
        width: 30px;
    }


    .section1 {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .section1_left {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .p1_section1 {
        font-size: 18px;
    }

    .h1_section1 {
        font-size: 36px;
        letter-spacing: 0;
        margin-bottom: 15px;
        line-height: 50px;
    }

    .p2_section1 {
        color: #5E6282;
        margin-bottom: 30px;
    }

    .section1_left span {
        background-size: 100% 10%;
    }

    .section1_buttons {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 60px;

    }

    .section1_buttons a {
        padding: 10px 15px;
        margin: 0;
        margin-bottom: 15px;
    }

    .section1_buttons button {
        margin: 0;
        margin-bottom: 10px;
    }

    .section1_right {
        text-align: center;
        margin: 0 auto;
    }

    .section1_right img {
        width: 90%;
    }

    .section2_services {
        background-image: none;
    }

    .p_section2 {
        font-size: 16px;
    }

    .h1_section2 {
        font-size: 36px;
        margin-bottom: 60px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        margin-bottom: 60px;
        width: 70%;
        position: relative;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    }


    .card::after {
        opacity: 1;
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: #DF6951;
        border-radius: 30px 0px 10px;
        bottom: -30px;
        left: -40px;
        z-index: -1;
    }

    .card h6 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .card p {
        font-size: 14px;
        line-height: 17px;
    }

    .card img {
        margin-bottom: 30px;
    }

    .p_section3 {
        font-size: 16px;
    }

    .h1_section3 {
        font-size: 36px;
    }

    .img_cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: none;
    }

    .img_card {
        width: 60%;
        margin-bottom: 30px;
    }

    .img_card img {
        width: 100%;
    }

    .section3_decoration {
        display: none;
    }

    .price {
        padding: 0 20px;
    }

    .price p {
        font-size: 16px;
    }

    .trips {
        display: flex;

    }

    .trips p {
        font-size: 14px;
    }

    .section4_steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .p_section4 {
        font-size: 16px;
    }

    .h1_section4 {
        font-size: 36px;
    }

    .section4_left {
        width: 90%;
        text-align: center;
    }

    .step {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .step img {
        margin: 0;
        margin-bottom: 15px;
    }

    .section4_right {
        position: relative;
    }

    .section4_decor {
        display: none;
    }

    .section4_right_card {
        width: 90%;
        margin: 0 auto;
    }

    .step_card_img {
        text-align: center;
        margin-bottom: 15px;
    }

    .step_card_img img {
        width: 100%;
    }

    .section4_right_card h5 {
        font-size: 16px;
    }


    .section5_about_us {
        margin-bottom: 360px;
    }

    .section5_display {
        flex-direction: column;
        justify-content: center;
    }

    .section5_about_us_left {
        text-align: center;
        width: 90%;
        margin-bottom: 200px;
    }

    .p_section5 {
        font-size: 16px;
    }

    .h1_section5 {
        font-size: 36px;
    }

    .section5_left_btn {
        display: flex;
        justify-content: center;
    }

    .section5_about_us_right {
        width: 90%;
    }

    .section5_right_card {
        width: 80%;
    }

    .card1 {
        top: -80px;
        left: 30px;
    }

    .card2 {
        top: -20px;
        left: 75px;
    }

    .section5_right_card p {
        color: #5E6282;
        margin-bottom: 30px;
    }

    .section5_right_card h5 {
        font-size: 16px;
    }

    .section6_companies {
        margin-bottom: 120px;
    }

    .companies {
        flex-direction: column;
        justify-content: center;
    }

    .company_img {
        margin-bottom: 40px;
        filter: grayscale(0);
        padding: 0;
    }

    .section7_subscribe {
        padding-bottom: 120px;
        background-image: none;
    }

    .subscribe {
        width: 90%;
        margin: 0 auto;
    }

    .left_img {
        width: 50%;
    }

    .right_img {
        width: 30%;
    }

    .subscribe p {
        font-size: 20px;
    }

    .subscribe_form input {
        padding: 15px 30px;
        margin-bottom: 5px;
    }

    .subscribe_form button {
        padding: 15px 20px;
    }

    .subscribe_form {
        width: ;
    }

    .subscribe_form img {
        position: absolute;
        top: 72.5%;
        left: 36%;
        z-index: 1;
    }

    .subscribe::before {
        width: 50px;
        height: 50px;
        background-size: 65%;
    }

    .footer_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .jadoo_footer h1 {
        margin-bottom: 15px;
    }

    .jadoo_footer p {
        margin-bottom: 30px;
    }

    .links {
        width: 90%;
        margin-bottom: 30px;
    }
}
